body {
    background: rgb(147, 160, 186);
    
    

    margin: 0;
    padding: 0;
}
header {
    background: rgb(87, 102, 136);
    font-family: Helvetica, monospace;
    font-size: large;
    color: rgb(9, 9, 38);

    padding: 50px 30px;
}

p {
    font-family: monospace;
    font-size:x-large;
    color: rgb(0, 0, 0);
    padding: 30px 50px 0px 50px;
}
h2 {
    background:rgba(156, 127, 196, 0.538);
    font-family: monospace;
    font-size: 30px;
    color:rgb(9, 9, 38);
    margin: 100px 0px 30px 70px;
}

figcaption {
  word-break: break-word;  
  white-space: medium;
  font-size:large;
  line-height: 1.4;
  margin-top: 5px;
  text-align: left;   
}


